# This file illustrates the environment variables required and supported in this project's .env file.
# This file should *ONLY* contain variable keys, not values.

# Required keys
USR=                        # Docker user
PAS=                        # Docker password
REG=                        # Custom registry
